<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="text">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Barry Sanders Offical Website </title>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <!--[if IE]>
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
  <![endif]-->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/theme.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
  <link href="/css/zocial.css" rel="stylesheet" type="text/css"/>
  <link href="/css/settings.css" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/style6.css" rel="stylesheet" type="text/css" />
  <link href="/css/style_common.css" rel="stylesheet" type="text/css" />
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
  <![endif]-->
</head>


<body>

<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  
<!--header-->
  <div class="header">
    <!--logo-->
    <div class="container">
      <div class="logo">
        <a href="index.html"><h1 class="animated bounceInDown">BS20</h1></a>  
      </div>
      <!--menu-->
      <nav id="main_menu">
        <div class="menu_wrap">
          <ul class="nav sf-menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../bio.html">My Bio</a></li>
            <li><a href="blog/index.html">Blog</a></li>
            <li><a href="../news.html">News</a></li>
            <li><a href="javascript:{}">Media</a>
              <ul>
                <li><a href="mediamain.html"><span>--</span>Pictures</a></li>
                <li><a href="videos.html"><span>--</span>Videos</a></li>
              </ul>
            </li>
            <li><a href="http://www.footballfanatics.com/barry_sanders_jersey" target="_blank">Shop</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<!--//header-->