{% include header.html %}

<div class="container">
    <div class="pad30"></div>
  <div class="row">
    <div class="span8 offset2">
      <h1 class="post_intro center">{{ page.title }}</h1>
      <div class="pad30"></div>

      <div class="post">
      <img src="{{ page.image }}" alt="" >
        {{ content }}
      </div>

      <div class="post-meta muted">
          <ul>
            <li>Posted by</li>
            <li><a href="#">{{page.author}}</a> </li>
            <li>{{ page.date | date_to_string }}</li>
          </ul>
      </div>

      <a href="https://www.facebook.com/sharer.php?u=http://23.253.73.37/sanders/blognews.html" target="_blank" class="zocial facebook"></a>
      <a href="https://twitter.com/share?url=http://166.78.175.38/sanders/blognews.html" target="_blank" class="zocial twitter"></a>
    
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
      <div class="pad30"></div>
    </div>
  </div>
</div>
 
{% include footer.html %}

